body {
  margin: 16px;
  color: rgba(224, 224, 224, 0.8);
  font: 16px sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  background: #181818;
  display: flex;
  flex-direction: column;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.horizontal-container > * {
  margin: 8px;
}

#table-characters {
  margin: 16px 8px;
  border-collapse: collapse;
}

#table-characters td {
  padding: 6px 12px;
  border: solid 1px #888888;
}

#table-characters td.name {
  width: 128px;
}

#table-relics {
  border-collapse: separate;
  border-spacing: 0 2px;
  width: 100%;
  table-layout: fixed;
  font: 14px sans-serif;
}

#table-relics tbody tr {
  height: 42px;
}

#table-relics tbody td.type {
  width: 8px;
  background-color: #181818;
}

#table-relics tbody td.type.deepRelic {
  background-color: #181888;
}

#table-relics tbody td.color {
  width: 8px;
}

#table-relics tbody td.color.red {
  background-color: #ff4b00;
}

#table-relics tbody td.color.blue {
  background-color: #005aff;
}

#table-relics tbody td.color.yellow {
  background-color: #f6aa00;
}

#table-relics tbody td.color.green {
  background-color: #03af7a;
}

#table-relics tbody div {
  padding: 0 10px;
}

#table-relics tbody .cursed-effect {
  color: #00aacc;
}

#table-relics tbody tr:nth-child(even) {
  background-color: #222222;
}
